
<div class="row content">
    <div class="col col1" [style.background-image]="createUrl(sortList[0].picture)" (click)="open(sortList[0])">
        <h2>{{sortList[0].name}}</h2>
        <h4>{{sortList[0].date}}</h4>
    </div>
    <div class="col col2">
        <div class="row row1" [style.background-image]="createUrl(sortList[1].picture)" (click)="open(sortList[1])">
            <h2>{{sortList[1].name}}</h2>
            <h4>{{sortList[1].date}}</h4>
        </div>
        <div class="row row1" [style.background-image]="createUrl(sortList[2].picture)" (click)="open(sortList[2])">
            <h2>{{sortList[2].name}}</h2>
            <h4>{{sortList[2].date}}</h4>
        </div>
    </div>

</div>
<div class="row">
    <button (click)="openAll()" class="btn btn-outline-secondary">Загрузить еще</button>
</div>